[Desktop Entry]
Name=neosnake
Exec=./qtc_device_debughelper.py app "qmlscene $@ Main.qml"
Icon=images/neosnakeIcon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=landscape
X-Ubuntu-Splash-Color=#4b4b4b
X-Ubuntu-Splash-Image=images/neosnakeSplash.png

